09.24/f7m6mg_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT f7m6mg_orarend (ora*)>

<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora id CDATA #REQUIRED>
<!ATTLIST ora tipus (eloadas | gyakorlat | labor) "eloadas">

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>

<!ELEMENT oktato (#PCDATA)>

<!ELEMENT szak (#PCDATA)>