09.24/f7m6mg_mozi_belso.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mozi [
<!ELEMENT mozi (film*)>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film id CDATA #REQUIRED mufaj (horror|akcio|vigi) #REQUIRED>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id CDATA #REQUIRED nev CDATA #REQUIRED>

<!ELEMENT szinesz (gyerekszinesz?, musicalszinesz?, szinkronszinesz?)>
<!ATTLIST szinesz id CDATA #REQUIRED nev CDATA #IMPLIED>

<!ELEMENT gyerekszinesz EMPTY>
<!ELEMENT musicalszinesz EMPTY>
<!ELEMENT szinkronszinesz EMPTY>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id CDATA #REQUIRED>
]>
<mozi>
    <film id="txn_nxm_2jb" mufaj="horror">
        <rendezo id="nzk_4xm_2jb" nev="alex"/>
        <szinesz id="u5g_4xm_2jb" nev="Madison_Ivy"/>
        <szinesz id="a">
            <gyerekszinesz/>
            <musicalszinesz/>
            <szinkronszinesz/>
        </szinesz>
        <iro id="trv_4xm_2jb"/>
    </film>
</mozi>