10.08/f7m6mg_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">


  <xs:element name="f7m6mg_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="targy" type="xs:string"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nap" type="NapType"/>
                    <xs:element name="tol" type="TimeHHMMType"/>
                    <xs:element name="ig" type="TimeHHMMType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="helyszin" type="xs:string"/>
              <xs:element name="oktato" type="xs:string"/>
              <xs:element name="szak" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
            <xs:attribute name="tipus" type="OraTipusType" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="uniqueOrakId">
      <xs:selector xpath="ora"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>


  <xs:simpleType name="OraTipusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eloadas"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="NapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hétfő"/>
      <xs:enumeration value="Kedd"/>
      <xs:enumeration value="Szerda"/>
      <xs:enumeration value="Csütörtök"/>
      <xs:enumeration value="Péntek"/>
      <xs:enumeration value="Szombat"/>
      <xs:enumeration value="Vasárnap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TimeHHMMType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([01][0-9]|2[0-3])[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>